# Docs are detectable
docs/* linguist-documentation=false
docs/* linguist-detectable=true

# Enforce Unix newlines
* text=auto eol=lf

# Tests utilities are undetectable
test/utils/* linguist-detectable=false
