/*!
 * Discord Debate Timer
 * copyright 2020 Luke Zhang
 * author Luke Zhang luke-zhang-04.github.io/
 * version 1.8.0
 * license BSD-3-Clause
 * file lets you send messages on the bots behalf
 */

$light: #f4f4f4;
$dark: #373737;
$transition-timing: cubic-bezier(0.645, 0.045, 0.355, 1);

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $light;
}

html,
body {
  overflow: hidden;
}

body {
  background-color: $dark;
}

.header,
.time,
.status,
.subheader {
  text-align: center;
}

.header {
  font-size: 7.5vw;
  margin-top: 0;
}

.subheader {
  font-size: 5vw;
  margin-bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .time {
    font-size: max(5rem, 10vw);
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;

    @media (max-width: 576px) {
      font-size: 25vw;
    }
  }

  .status {
    font-size: 2.5vw;
  }
}

.copyright {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    font-size: 1vw;
    margin-top: 0.25rem;
    text-align: center;
  }
}

input,
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 0.0125rem solid mix($dark, $light, 75%);
  background-color: #0000;
  margin-bottom: 10px;
  height: 45px;

  transition: border-bottom 0.25s $transition-timing, background-color 0.25s $transition-timing;

  &:focus {
    border-bottom: 0.125rem solid $light;
    background-color: mix($dark, $light, 90%);
  }
}

label,
span {
  display: block;
}

span {
  font-size: max(0.75rem, 1vw);
  font-weight: lighter;
}

label {
  font-size: max(1rem, 1.5vw);
  padding-top: 2.5vh;
  font-weight: bold;
}

.form {
  button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    display: block;

    background-color: rgba(0, 0, 0, 0);
    border: solid 0.125rem $light;
    color: $light;

    transition: $transition-timing, color 0.25s $transition-timing,
      background-color 0.25s $transition-timing;

    &:hover {
      background-color: $light;
      color: $dark;
      cursor: pointer;
    }
  }
}

.github-corner-container {
  width: max(5rem, 7.5vw);
  position: absolute;
  top: 0;
  right: 0;
}

.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  path {
    color: $dark;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes over {
  0% {
    width: 0;
    opacity: 1;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

.progress-bar-container {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  .progress-bar,
  .progress-bar-overlay {
    background-color: $light;
    height: 0.5rem;
    transition: width 1s linear;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.red {
    $over-animation-time: 2.5;
    $bar-overlays: 3;

    .progress-bar {
      background-color: rgb(223, 70, 85);
    }

    .progress-bar-overlay {
      background-color: mix(rgb(223, 70, 85), $light, 90%);
      box-shadow: 0 0 0.5rem 0.05rem rgb(218, 102, 113, 1);
      animation: over #{$over-animation-time}s $transition-timing infinite;
    }

    @for $index from 1 through 2 {
      .progress-bar-overlay:nth-child(#{$index}) {
        // prettier-ignore
        animation:
          over
          #{$over-animation-time}s
          #{$over-animation-time / ($bar-overlays - 1) * ($index - 1)}s
          $transition-timing infinite;
      }
    }
  }
}

.text-red {
  color: rgb(223, 70, 85);
}
